*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", serif;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
}

/*HEADER*/

header{
    padding: 25px 0px;
    background-color: #255ee9;
    font-size: 17px;
}

.left-col, .center-col, .right-col {
        height: 100%;
        padding: 12px 18px;
}

.center-col{
    width: 755px;
    text-align: center;
}

/*MAIN*/
/*Primo layout*/
.small-container{
    width: 883px;
    margin: 0 auto;
}
.bg-img-first-lay{
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
}
h1{
        font-family: "Lato", serif;
        font-weight: 900;
        font-style: normal;
        font-size: 44px;
}

/*Secondo layout*/
.pk-col{
    width: 400px;
    height: 385px;
}
.blue-col{
    width: 780px;
    height: 385px;
}
/*Quinto layout*/
.gr-col{
    width: 1180px;
    height: 677px;
}
/*Quinto layout*/
.sal-col{
    width: 312px;
    height: 480px;
}
.tur-col{
    width: 217px;
    height: 480px;
}
/*FOOTER*/
footer{
    padding-top: 25px;
    margin-top: 1px;
}
.bt-cntnt{
    padding: 3px 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* utility */
.d-flex{
    display: flex;
}
.space-eve{
    justify-content: space-evenly;
}
.just-cent{
    justify-content: center;
}
.space-around{
    justify-content: space-around;
}
.space-bet{
    justify-content: space-between;
}
.txt-cent{
    text-align: center;
}
.border-dash-bk-1px{
    border-color: black;
    border-width: 1px;
    border-style: dashed;
}
.border-dash-bk-2px{
    border-color: black;
    border-top: 1.5px;
    border-bottom: 1.5px;
    border-style: dashed;
}
.border-dash-wh-1px{
    border-color: #fff;
    border-width: 1px;
    border-style: dashed;
}
.sp-btw{
    justify-content: space-between;
}
.bg-cl-golden{
    background-color: goldenrod;
}
.bg-blue{
    background-color: #00008b;
}
.bg-pink{
    background-color: #ee82ed;
}
.bg-pk{
    background-color:#ffc0ca ;
}
.bg-cel{
    background-color: #1e8fff;
}
.bg-grey{
    background-color: #d3d3d3;
}
.bg-green{
    background-color: #218b21;
}
.bg-sal{
    background-color: #f0817f;
}
.bg-tur{
    background-color: #20b3aa;
}
.bg-blk{
    background-color: #23272a;
}
.bg-vracq{
    background-color: #7fffd4;
}
.bg-whi{
    background-color: #fff;
}
.whi-txt{
    color: #fff;
}
.pad-50{
    padding: 50px 0;
}
.pad-110{
    padding: 110px 0;
}
.pad-top-bot-lay{
    padding-top: 8px;
    padding-bottom: 35px;
}
.strct-bt{
    border-radius: 28px;
}
.fnt-p-sz{
    font-size: 21px;
    line-height: 1.5;
    letter-spacing: 1px;
}
.pd-30{
    padding: 30px;
}
.pd-12{
    padding: 12px;
}
.margin-rht-25{
    margin-right: 25px;
}
